<div ng-controller="productPackageManageController as vm" class="innerTop" ng-init="vm.getPagedDataAsync()">
    <ol class="breadcrumb"></ol>
    <div class="popMask" ng-show="vm.popShow" ng-click="vm.notisAgree()"></div>
    <div class="popLayout" ng-class="{'show':vm.popShow}">
        <div class="protocol">
            <a class="close" href="javascript:;" ng-click="vm.notisAgree()">X</a>
            <h1>售价系数批量设置</h1>
            <div class="protocolContent">
                <div class="left">
                    <label ng-click="vm.selectAll()">选择产品包：<input ng-model="vm.isSelectAll" type="checkbox">全选</label>
                    <div>
                        <p style="width:100%;" ng-repeat="o in vm.RatioList">
                            <label>
                                <input ng-click="vm.singleSelect()" ng-model="o.toggle" type="checkbox">
                                <span style="margin-right:5px;" ng-bind="o.id"></span>
                                <span style="margin-right:5px;" ng-bind="o.productName"></span>
                                <span ng-bind="o.saleRatio"></span>
                            </label>
                        </p>
                    </div>
                </div>
                <div class="right">
                    <p>设置售价系数</p>
                    <input ng-model="vm.updateSaleRatio.saleRatio" type="text" class="form-control w150">
                    <div>该系数应在[0.1,10]</div>
                    <input class="btn btn-info" ng-click="vm.setSaleRatio()" type="button" value="确认设置">
                </div>
            </div>
        </div>
    </div>
    <div class="pLR40">
        <div class="rightDiv">
            <div class="rightContTitle">
                <h2>产品包管理</h2>
            </div>
            <div class="queryDiv">
                <div class="queryDivIn">
                    <form class="form-horizontal">
                        <div>
                            <div class="f_l mr15 mb15">
                                <p class="f_l lh40">产品包id：</p>
                                <input type="text" class="form-control f_l w150" placeholder="请输入产品id" ng-model="vm.query.id">
                            </div>
                            <div class="f_l mr15 mb15">
                                <p class="f_l lh40">产品包名称：</p>
                                <input type="text" class="form-control f_l w150" placeholder="请输入产品名称" ng-model="vm.query.productName">
                            </div>
                            <div class="f_l mr15 mb15">
                                <p class="f_l lh40">产品线：</p>
                                <select class="form-control w120" ng-options="o.id as o.name for o in vm.productLineList" ng-model="vm.query.salerLine">
                                    <option value="">全部</option>
                                </select>
                            </div>
                            <div class="f_l mb15">
                                <input class="btn btn-warning mr10" type="submit" value="搜索" ng-click="vm.search()">
                                <input class="btn btn-info mr10" type="submit" value="新增产品包" ui-sref="productPackageManageAdd">
                                <input class="btn btn-info mr10" type="submit" value="默认产品包配置" ui-sref="productPackageManageDefault">
                                <input class="btn btn-info mr10" type="submit" value="售价系数批量设置" ng-click="vm.isAgree()">
                                <!--<input class="btn btn-info mr10" type="submit" value="商户产品管理" ui-sref="productManageCompany">-->
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="noDataDiv" ng-if="!vm.list.length">
                <div class="noData">
                    <div class="noDataBg"></div>
                    <p>暂时没有数据～</p>
                </div>
            </div>
            <div class="tableList" ng-show="vm.list.length > 0">
                <table class="table tableInfo">
                    <tr>
                        <th>产品包id</th>
                        <th>产品包名称</th>
                        <th>售价系数</th>
                        <th>添加时间</th>
                        <th>状态</th>
                        <th>操作</th>
                    </tr>
                    <tr ng-repeat="o in vm.list">
                        <td ng-bind="o.id"></td>
                        <td ng-bind="o.productName"></td>
                        <!--<td ng-bind="o.rate"></td>-->
                        <td ng-bind="o.saleRatio"></td>
                        <td ng-bind="o.createTime | date : 'yyyy-MM-dd'"></td>
                        <td>
                            <input type="checkbox" ng-model="o.status" style="outline: none;" class="al-toggle-button" ng-click="vm.changeStatus(o.status,o.id)">
                        </td>
                        <td>
                            <a href="javascript:;" ng-click="vm.toEdit(o.id)">编辑</a>
                            <!--<em class="c_999">|</em>-->
                            <!--<a href="javascript:void(0)" ng-click="vm.deleteProduct(o.id)">删除</a>-->
                        </td>
                    </tr>
                </table>
                <div class="page" paging page-object="vm.query" click-function="vm.getPagedDataAsync"></div>
            </div>
        </div>
    </div>
</div>